%html
  %head
    %link{:href => "julia.css", :rel => "stylesheet", :type => "text/css"}
  %body
    %div{:class => "wrapper"}
      - (0..79).each do |r|
        - (0..159).each do |c|
          %div{:class => "cell cell-#{c}-#{r}"}
        %div{:class => "clear"}
      %a{:href => "http://1pxsolidtomato.com"} 1pxsolidtomato.com
